@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');


:root{
    /* #7041ff */
    --maincolor: 112, 65, 255;
    --secondarycolor: 112, 65, 255;
    --main-text-color: #fff;
    --dark-backgroundcolor: #0d1117;
    --light-backgroundcolor: #ffffff;
    --dark-text-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
body.sunny-mode{

}
body.dark-mode{
    background-color:var(--dark-backgroundcolor);
    color: var(--dark-text-color);
}


header{
    padding: 50px 0 ;
}

header .logo-container{
    width: 50%;
    display: flex;
    margin: 0 auto;
    align-items: center;
}



header .logo-container .col{
    width: 100%;
}

header .logo-container img{
    width: 60%;
    margin: 0 auto;
    display: block;
}

header h1{position: relative;padding: 5px 0;margin: 7px 0;display: inline-block;color: rgb(var(--maincolor));}
header h1:after{content: ''; position: absolute;bottom: 0; left: 0; background-color: #666f7c;width: 100%; height: 3px; animation: rollOut ease 1s;}

@keyframes rollOut {
    0%{width: 0;}
    100%{width: 100%;}
}

header h2{
    font-weight: 600;
    font-size: 20px;
}
header h2 small{
    font-weight: 400;
    font-size: 12px;
}



@media screen and (max-width: 1024px) {
    header{
        padding: 70px 0 ;
    }
    header .logo-container{
        width: 70%;
    }
}

@media screen and (min-width: 320px) and (max-width: 414px) {
    header{
        padding: 18px 0 ;
    }
    header .logo-container{
        width: 80%;
        display: block;
        text-align: center;
    }
    header .logo-container .col:nth-child(1){
        margin-bottom: 0px;
    }
    header .logo-container .col h1{
        margin-top: 0;
    }
    
    header h2{
        font-weight: 600;
        font-size: 20px;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}


section.form{
    width: 50%; margin: 0 auto;
    background-color: rgb(var(--maincolor),.4);  
    backdrop-filter: blur(5px);
    padding: 60px;
    border-radius: 20px;
}

section.form form .form-group{
    margin: 20px 0;
}
section.form form .form-group label{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 23px;
}
section.form form .form-group label small{
    font-weight: 400;
    font-size: 10px;
}
section.form form .form-group .input-wrapper{
    display: flex;
    align-items: center;
}
section.form form .form-group .input-wrapper img{
    width: 20px;
    margin: 0 10px;
}

section.form form .form-group input{
    display: block;
    width: 100%;
    position: relative;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(var(--maincolor), .7);
    transition: 200ms ease;
    padding: 8px 0px;
    font-size: 18px;
    color: var(--main-text-color);
}
section.form form .form-group input:focus{ 
    outline: none;
    border-bottom: 2px solid #fff;
}
::-webkit-input-placeholder{
    color: rgba(var(--maincolor, 0.3), 0.5);
}
::-moz-placeholder { /* Firefox 19+ */
    color: pink;
}
section.form form button{
    display: block;
    width: 140px;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    margin: 20px 0;
    cursor: pointer;
}

body.dark-mode form button{
    background-color: rgb(var(--maincolor));
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    section.form{
        width: 70%;
    }
}
@media screen and (min-width: 320px) and (max-width: 414px) {
    section.form{
        width: 85%;
        padding: 15px;
    }
    section.form form .form-group{
        margin: unset;
        margin-bottom: 10px;
    }
    section.form form .form-group label{
        margin-bottom: 0;
        font-size: 15px;
    }
    section.form form .form-group .input-wrapper img{
        width: 14px;
        margin: unset;
        margin-left: 3px;
    }
    section.form form button{
        display: block;
        width: 140px;
        border-radius: 30px;
        padding: 10px;
        font-size: 20px;
        margin: 18px auto 3px auto;
    }
    
}

.link-created{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    /* transition: 200ms ease;
    visibility: hidden;
    opacity: 0; */
}
.link-created.active{
    visibility: visible;
    opacity: 1;
}

.link-created .alert-box{
    width: 30%;
    height: 30%;
    background-color:rgba(13, 17, 23, 0.750);
    backdrop-filter: blur(5px);
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.link-created .alert-box h3{
    font-size: 30px;
    
}
.link-created .alert-box a{
    font-size: 30px;
    color: #7041ff;
}
.link-created .alert-box button{
    display: block;
    width: 140px;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    margin: 50px auto 0 auto;
    cursor: pointer;
    background-color: rgb(var(--maincolor));
    color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
    .link-created .alert-box{
        width: 80%;
        height: unset;
    }
    .link-created .alert-box h3{
        font-size: 22px;
        padding: 15px;
    }
    .link-created .alert-box a{
        font-size: 20px;
    }
    .link-created .alert-box button{
        margin: 15px auto;
    }

}
@media screen and (max-width: 1024px) {
    .link-created .alert-box{
        border-radius: 15px;
    }
    .link-created .alert-box a{
        padding: 8px;
        word-break: break-all;
        margin-bottom: 10px;
    }
    .link-created .alert-box{
        padding: 25px 10px;
        width: 60%;
        height: unset;
    }
}


.not-found-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.not-found-wrapper{
    width: 60%;
    margin: 0 auto;
}
.not-found-wrapper .logo{
    margin-bottom: 100px;
}
.not-found-wrapper .logo img{
    max-width: 60%;
    margin: 0 auto;
    display: block;
    height: auto;
}
.not-found-wrapper .header {
    text-align: center;
}
.not-found-wrapper .header h1{
    color: rgb(var(--maincolor));
    font-size: 25px;
    font-weight: bold;
}
.not-found-wrapper .header p{
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

.links-wrapper{display: flex; align-items: center; position: absolute; top: 0; right: 0;padding-top: 5px;}
.links-wrapper .link-item{margin: 0 5px;}
.links-wrapper .link-item a{color: rgb(var(--maincolor));display: block;line-height: 1; margin: 0; padding: 0;}
.links-wrapper .link-item a img{}
.links-wrapper .slash{}
.links-wrapper .slash span{color: rgb(var(--maincolor));}